* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: Coolvetica;
    src: url(fonts/coolvetica.ttf);
}

body {
    background: linear-gradient(to right, #222222, #434343);
}

.title {
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
    
    font-size: 40px;
    font-family: Coolvetica;
    letter-spacing: 2px;
    font-weight: 100;
    
    color: white;
}

.rainbow {
    background: -webkit-linear-gradient(#ff0000 20%, #ffd700 60%, #00ff1e 70%, #0051ff 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.text {
    font-family: Arial;
    letter-spacing: 1px;
    color: white;    
}

#playbutton {
    margin: auto;
    width: 20%;
}

.levelbutton {
    margin: auto;
    margin-bottom: 8px;
    width: 20%;
    
}

.button{    
    display: block;
    padding: 10px;
    min-width: 180px;
    max-width: 240px;
    
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    letter-spacing: 1px;
    
    color: white;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 14px;
}

a:hover {
   background: rgba(240, 240, 240, 0.7); 
}

#level1button:hover {
    background: rgba(240, 120, 100, 0.7); 
}

#level2button:hover {
    background: rgba(250, 250, 100, 0.7);
}

#level3button:hover {
    background: rgba(100, 250, 100, 0.7);
}

#level4button:hover {
    background: rgba(100, 170, 240, 0.7);
}

#level5button:hover {
    background: rgba(250, 100, 250, 0.7);
}