* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: Coolvetica;
    src: url(fonts/coolvetica.ttf);
}

body {
    background: linear-gradient(to right, #222222, #434343);
}

.text {
    font-family: Arial;
    letter-spacing: 1px;
    color: white; 
    text-align: center;
    font-size: 20px;
}

#timer {
    display: inline-block;
    margin: 20px 20px;
    text-align: left;
    
}

#sample {
    width: 100px;
    height: 30px;
    margin: 5px auto 25px;
    transition: background-color 2s;
}

.squaresContainer {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

.square {
    background-color: white;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 2px;
    transition: background-color 2s;
}

.button {    
    display: inline-block;
    padding: 10px;
    min-width: 10px;
    max-width: 240px;
    
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    letter-spacing: 1px;
    
    color: white;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 14px;
    visibility: hidden;
    transition: visibility 1s;
}

.button:hover {
    background: rgba(240, 240, 240, 0.7);
}
.smallContainer {
    text-align: center;
}
    
.gameOver { 
    display: inline-block;
    margin-right: 10px;
    visibility: hidden; 
    transition: visibility 2s;
}

.show {
    visibility: visible;
}

#color {
    display: none;
}

.blink {
    animation-name: blinker;
    animation-duration: 0.3s;
}

@keyframes blinker {
    0% {border: 0px solid #eee;}
    50% {border: 2px solid #eee;}
    100% {border: 0px solid #eee;}
}

@media screen and (max-width: 400px) {
    .square {
        width: 60px;
        height: 60px;
    }
    
    .squaresContainer {
        margin-top: 2%;
    }
}